doctype
html
	head
		title= title
		link(href='/css/site.css', rel='stylesheet')
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
		link(href="/lib/bootstrap-material-design/dist/css/material.css" rel='stylesheet')
		link(href="/lib/bootstrap-material-design/dist/css/ripples.css" rel='stylesheet')
	body
		block content
		footer This is the footer
		script(src="/lib/underscore/underscore.js")
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/bootstrap-material-design/dist/js/material.js")
		script(src="/lib/bootstrap-material-design/dist/js/ripples.js")
